* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f4f4f4;
    min-height: 100vh;
}

header {
    background-color: #000000;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
   

}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin: 0 15px;
}

.menu-icon {
    font-size: 20px;
    font-weight: 600;
    color: #DC5F00;
    cursor: pointer;
}

.nav-list li a {
    color: #DC5F00;
    font-family: 'Poppins';
    font-weight: 600;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.5rem;
}

.nav-list li a:hover, .nav-list li a:active {
    background-color: #4D455D;
    border-radius: 5px;
}

.hero {
    height: calc(100vh- 100px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: white;
    padding: 100px 20px;
    text-align: center;
    flex-grow: 1;
}
.services {
    height: calc(100vh- 100px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: white;
    padding: 100px 20px;
    text-align: center;
    flex-grow: 1;
}



.text-highlight {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
}

.hero h1 {
    font-family: 'Arizonia';
    font-size: 4rem;
    margin-bottom: 10;
    color: #EEEEEE;
}
.services h1 {
    font-family: 'Arizonia';
    font-size: 4rem;
    margin-bottom: 10;
    color: #EEEEEE;
}

.hero p {
    font-family: 'Allura';
    font-weight: 700;
    font-size: 2rem;
    color: #EEEEEE;
}
.services p {
    font-family: 'Allura';
    font-weight: 700;
    font-size: 2rem;
    color: #EEEEEE;
}

.offers h1 {
    font-family: 'Arizonia';
    font-size: 4rem;
    text-align: center;
    margin-bottom: 10;
    color: #EEEEEE;
}

.offers p {
    font-family: 'Poppins';
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    color: #EEEEEE;
}

.about p {
    font-size: 1.1rem;
}

footer {
    font-family: 'Poppins';
    font-size: 0.9rem;
    font-weight: 600;
    color: #EEEEEE;
    text-align: center;
    width: 100%;
    margin-top: auto;
    padding: 20px 0;
}

.service {
    flex: 1;
    text-align: center;
}

.offers h2 {
    font-family: 'Arizonia';
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10;
    color: #EEEEEE;
}

.contact, .contact {
    padding: 40px 20px;
    text-align: center;
    flex-grow: 1;
}

.content h2, .contact h1 {
    font-family: 'Poppins';
    color: #EEEEEE;
    font-size: 2rem;
    margin-bottom: 20px;

}

.contact form{
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.contact form label {
    display: block;
    margin-bottom: 5px;
    color: #EEEEEE;
    font-family: 'Poppins';
    font-weight: bold;
}

.contact form button {
    display: block;
    width: 100%;
    padding: 5px;
    border: none;
    background-color: #040404;
    color: #DC5F00;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: 'Poppins';
    font-weight: 700;
    cursor: pointer;
}

.contact form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #DC5F00;
    border-radius: 5px;
    font-size: 1rem;
}
.contact form textarea {
    resize: none;
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #DC5F00;
    border-radius: 5px;
    font-size: 1rem;

}

.contact form button:hover {
    background-color: #7a7a7a;;
}
